extends layout

block content
  h1 Briefings
  h3 for Some Rep
  DIV.table-div
    table.table.table-striped.table-bordered
      TR
        TH Date
        TH Title
        TH Customer
        TH Attended
      each briefing in briefings
        TR
          TD #{briefing.date.toISOString().split('T')[0]}
          TD 
            A(href="/briefings/details/" + briefing._id) #{briefing.title}
          TD #{briefing.customer}
          TD #{briefing.attendeeCount}
    DIV
      button(onclick="window.location.href='/briefings/new'") Add Briefing