body {
  background-color: green;
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h3 {
  margin-left: 25px;
  margin-bottom: 25px;
}
a {
  color: #00B7FF;
}
.table-div {
  border-radius: 25px;
  padding: 25px;
  background-color: rgb(43, 163, 43);
}
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: rgb(212, 243, 165); 
   color: black;
 }
 .table-striped>tbody>tr:nth-child(even)>td {
   background-color: rgb(201, 217, 178); 
   color: black; // Choose your own color here
 }
 .table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(95, 93, 93);
   color: white;
 }